html, body, #app, .ivu-layout {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.ivu-layout-header {
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
.ivu-layout-header form {
    display: flex;
    flex-flow: row;
}
.ivu-layout-header formitem {
    display: inline-block;
}
.ivu-layout-header .input {
    flex: 1;
}
.ivu-layout-header input[disabled]{
    cursor: pointer !important;
}
.ivu-layout-header input {
    flex: 1;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.ivu-layout-header button {
    width: 100px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.ivu-table-header th .ivu-table-cell span {
    cursor: pointer;
}
.ivu-table-body td:nth-child(2) .ivu-table-cell {
    text-align: center;
    padding-top: 10px;
    padding-left: 10px !important;
}
.ivu-layout-content {
    padding-top: 64px;
    padding-bottom: 23px;
}
.ivu-layout-footer{
    font-size: 12px !important;
    height: 22px;
    line-height: 22px;
    padding: 0 15px 0 15px !important;
    border-top: 1px solid #cccccc;
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
}